:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #e4e4e4;
    background-color: #242424;
    background-image: url("/bg.webp");
    background-size: cover;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary: #646cff;
    --primary-light: #535bf2;
    --primary-dark: #4e56e0;

    --secondary: #ff6464;
    --secondary-light: #f25b5b;
    --secondary-dark: #e04e4e;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 650px));
    gap: 2rem 5rem;
    padding: 4rem 4rem;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 1000px;

    & > .heading {
        align-self: end;
        grid-column: span 2;
        margin-block: 3rem;
        max-width: 550px;
    }

    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        gap: 2rem 2rem;
        padding: 4rem 2rem;

        & > .heading {
            align-self: center;
            grid-column: auto;
        }
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
